.show {
    text-align: center;
    width: 100%; /* 替換原來的45cm */
    font-size: 16pt;
}
body{
    text-align: center;
    font-size: 18pt;
    font-family: '微軟正黑體';
}
.func_butt{
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    width: 3cm;height: 1cm;
    font-size: 15pt;
}
.func_butt:hover{
    background-color: black;
    color: white;
}
.del_butt{
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(185, 51, 51);
    width: 3cm;height: 1cm;
    font-size: 15pt;
}
.del_butt:hover{
    background-color: rgb(82, 4, 4);
    color: white;
}
.chge_butt{
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(212, 216, 5);
    width: 3cm;height: 1cm;
    font-size: 15pt;
}
.chge_butt:hover{
    background-color: rgb(99, 100, 4);
    color: white;
}
table{
    border-collapse:separate; border-spacing:40px 15px;
    text-align: center;
}
input[type='text']{
    width: 8cm;
    height: 0.8cm;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 14pt;
}
@media (max-width: 600px) {
    body {
        font-size: 16pt; /* 調整字體大小 */
    }

    .show, .func_butt, .del_butt, .chge_butt {
        width: 90%; /* 調整寬度以適應螢幕 */
        font-size: 12pt; /* 調整字體大小 */
    }

    input[type='text'] {
        width: 80%; /* 調整輸入框的寬度 */
    }
}